* {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  .cocogoose {
    font-family: 'COCOGOOSE', serif;
    font-style: normal;
    font-weight: 400;
  }

  .lato {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
  }

  .header {
    background-image: url(./images/main_big.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding: 2vh 3vw;
  }

  .top-menu,
  .menu-bar {
    display: none;
  }

  #menuBtn {
    width: 50px;
    height: 44px;
    align-items: flex-end;
    border: none;
    background-color: transparent;
  }

  /* MENU POPUP */
  .menuPopup {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #d3d3d3d4;
    background-image: url(./images/spiderman.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 60%;
    padding: 10% 0 0 5%; 
  }

  .menu-item {
    text-decoration: none;
    color: #ec5242;
    text-shadow: #272a31 2px 2px 5px;
    font-size: 2em;
    margin: 5vh 10vw;
  }
  .btnposition {
    position: fixed;
    z-index: 1;
    top: 10%;
    right: 10%;
    width: 25px;
    height: 25px;
  }

  #ccbutton {
    display: none;
  }
  
  /* END */

  .headline {
    font-size: 28px;
    color: #ec5242;
  }

  .box-desktop {
    background-color: rgb(30 30 30 / 80%);
    border-radius: 35px;
    margin: 10% 3% 0 3%;
    padding: 3%;
  }

  .maskText {
    background: url(./images/MainPhoto.jpg) repeat;
    color: transparent;
    -webkit-background-clip: text;
    font-size: 2.5em;
  }

  .textBox {
    font-size: 12px;
    color: #272a31;
    border: white 2px solid;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
    background-color: rgb(240, 240, 240);
  }

  .date {
    color: #ec5242;
    font-size: 24px;
    text-align: center;
    text-shadow: #272a31 2px 2px 3px;
  }

  .place {
    color: #ec5242;
    font-size: 14px;
    text-align: center;
    text-shadow: #272a31 2px 2px 3px;
  }

  .main {
    background-color: rgb(39, 42, 50);
    background-image: url(./images/pattern_bg.png);
    background-repeat: repeat;
    color: #d3d3d3;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main h3 {
    margin-top: 30px;
  }

  .main hr {
    margin: 15px 0;
    border: #ec5242 1px solid;
    width: 10%;
  }

  .container-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .list-item {
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color: rgb(211, 211, 211, 0.15);
    margin: 10px;
    padding: 10px;
    width: 90%;
    align-items: center;
  }

  .list-item > li {
    margin: 2%;
  }

  .text1 {
    font-size: 12px;
    color: #ec5242;
  }

  .text2 {
    font-size: 12px;
    color: #d3d3d3;
    font-weight: 200;
  }

  #joinBtn {
    background-color: #ec5242;
    font-size: 16px;
    color: #d3d3d3;
    border: none;
    padding: 20px;
    margin: 30px;
  }

  #program-link {
    display: none;
  }

  .article {
    color: #272a31;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .article h3 {
    margin-top: 30px;
  }

  .article hr {
    margin: 15px 0;
    border: #ec5242 1px solid;
    width: 10%;
  }

  .list-item-speaker {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 10px;
    padding: 10px;
    align-items: center;
  }

  .list-item-speaker ul {
    margin: 2%;
    list-style: none;
  }

  .list-item-speaker li {
    margin: 3%;
  }

  #moreBtn {
    border: #d3d3d3 1px solid;
    border-radius: 5px;
    background-color: white;
    font-size: 16px;
    color: #272a31;
    padding: 20px;
    margin: 30px;
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .cocogoose {
    font-family: 'COCOGOOSE', serif;
    font-style: normal;
    font-weight: 400;
  }

  .lato {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
  }

  .header {
    background-image: url(./images/main_big.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
  }
  
  .headline {
    font-size: 4em;
    color: #ec5242;
  }

  .header .headline,
  .header h1 {
    padding: 2vh 5vw;
  }

  .top-menu {
    display: block;
    display: flex;
    background-color: #272a31;
    color: #d3d3d3;
    font-size: 24px;
    padding: 1vh 2vw;
    justify-content: flex-end;
  }

  .top-menu img,
  .top-menu p {
    margin: 0 1.5vw;
  }

  .nav .menuBtn {
    display: none;
  }

  .menu-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url(./images/about_logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    background-position: top left;
    width: 100%;
    font-size: 2em;
  }

  .menu-bar button {
    font: 1em sans-serif;
    color: #ec5242;
    border: #ec5242 solid 5px;
    padding: 0.2em;
    margin: 1em;
  }

  .menu-bar a {
    text-decoration: none;
    color: #272a31;
    margin: 0 1em;
  }

  .menu-bar a:hover {
    text-decoration: none;
    color: #ec5242;
    margin: 0 1em;
  }

  .box-desktop {
    background-color: rgb(30 30 30 / 80%);
    border-radius: 35px;
    margin: 10% 35% 0 3%;
  }

  .maskText {
    background: url(./images/MainPhoto.jpg) repeat;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 6em;
  }

  .textBox {
    font-size: 2em;
    color: #272a31;
    border: white 5px solid;
    border-radius: 15px;
    padding: 2vh 3vw;
    width: 45%;
    margin: 2vh 5vw;
    background-color: rgb(240, 240, 240);
  }

  .date {
    color: #ec5242;
    font-size: 4em;
    text-align: center;
    margin-left: 0;
    text-shadow: #272a31 2px 2px 3px;
  }

  .place {
    color: #ec5242;
    font-size: 2em;
    text-align: center;
    margin-bottom: 20vh;
    text-shadow: #272a31 2px 2px 3px;
  }

  .main {
    background-color: rgb(39, 42, 50);
    background-image: url(./images/pattern_bg.png);
    background-repeat: repeat;
    color: #d3d3d3;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main h3 {
    margin-top: 5vh;
    font-size: 2em;
  }

  .main hr {
    margin: 15px 0;
    border: #ec5242 1px solid;
    width: 10%;
  }

  .container-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .list-item {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: rgb(211, 211, 211, 0.15);
    margin: 1%;
    padding: 2%;
    align-items: center;
  }

  .list-item:hover {
    border: #ec5242 1px solid;
  }

  .list-item > li {
    margin: 0.5%;
  }

  .text1 {
    font-size: 1.5em;
    color: #ec5242;
  }

  .text2 {
    font-size: 1.5em;
    color: #d3d3d3;
    font-weight: 200;
  }

  #joinBtn {
    display: none;
  }

  #program-link {
    font-size: 1.5em;
    padding: 2vh 0;
    text-underline-offset: 10px;
    color: #d3d3d3;
  }

  .article {
    color: #272a31;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .article h3 {
    margin-top: 5vh;
    font-size: 2em;
  }

  .article hr {
    margin: 15px 0;
    border: #ec5242 1px solid;
    width: 10%;
  }

  .container-article {
    display: flex;
    flex-wrap: wrap;
  }

  .list-item-speaker {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 1%;
    padding: 2%;
    align-items: center;
    width: 40%;
  }

  .list-item-speaker ul {
    margin: 2%;
    list-style: none;
  }

  .list-item-speaker li {
    margin: 3%;
  }

  #moreBtn {
    border: #d3d3d3 1px solid;
    border-radius: 15px;
    background-color: white;
    font-size: 2em;
    color: #272a31;
    padding: 20px;
    margin: 30px;
    width: 100%;
  }
}
